<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AuthenticationPermision.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>BluetoothPermission.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>CalendarPermission.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>CameraPermission.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>ContactsPermission.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>HealthPermission.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>LocationAlwaysPermission.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>LocationWhenInUsePermission.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>MicrophonePermission.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>MotionPermission.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>MusicPermission.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>NotificationPermission.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>Permissions-Package.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>PhotosPermission.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>RemindersPermission.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>SiriPermission.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>SpeechPermission.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>TrackingPermission.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AuthenticationPermision</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BluetoothPermission</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CalendarPermission</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CameraPermission</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ContactsPermission</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>LocationAlwaysPermission</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>LocationWhenInUsePermission</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>MicrophonePermission</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>MotionPermission</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>MusicPermission</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>NotificationPermission</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>Permissions</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>PhotosPermission</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>RemindersPermission</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>SiriPermission</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>SpeechPermission</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>TrackingPermission</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
